.allevents
{
    display: grid ;
    grid-template-columns: repeat(3, 1fr);
}

.event-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin: 5px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(73, 141, 164);
  }
  
  .allevents{
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  }
  