.carrd-container{
    padding: 1rem;
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}

@media (max-width:750px){

   
    .carrd-container{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media (min-width:750px){

   
    .carrd-container{
        padding-left: 10rem;
        padding-right: 10rem;
    }
}
@media (max-width:400px){
    .carrd-container{
        padding: 1rem;
        grid-template-columns: repeat(auto-fit,minmax(80vw,1fr));
    }
}
.clubs{
  /* background-color:hsl(199, 49%, 81%); */
  background-color: whitesmoke;
  min-height: 100vh;
}