.drop-down{
    height: 32px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    margin-right: 2rem;
    border: none;
    border-radius: 3px;
    z-index: -1;
}
@media (max-width:400px) {
    .drop-down{
        display: none;
    }
}