.home{
    min-height: 100vh;
    min-width: 300px;
    display: grid;
    gap: 0;
}
.homeHead{
    font-style: italic;
}
.image{
    position: relative;
    overflow: hidden;
    background-image: url('https://media.licdn.com/dms/image/D5603AQEi51Zg9NiFgg/profile-displayphoto-shrink_800_800/0/1665687871263?e=2147483647&v=beta&t=26G9ZEiAETWVoZ__se0-Phz5G9OJQN5yod_fYfYJyRk');
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.image::before{
    content: '';
    background-color: #44B1B4;
    position: absolute;
    -webkit-box-shadow: 2px 7px 42px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 7px 42px 9px rgba(0,0,0,0.75);
    box-shadow: 2px 7px 42px 9px rgba(0,0,0,0.75);
}
.signBtnContainer{
    align-self: center;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.signBtn{
    width: 100px;
    height: 40px;
    background-color: rgb(228, 222, 222);
    color: #2c98bc;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
}
.signBtn:hover{
    background-color: #2c98bc;
    color: #81d4e4;
    transition: 0.5s;
}
@media (max-width:768px){
    .home{
        grid-template-rows: 1fr 1fr;
    }
    .content{
        padding: 15px;
        padding-top: 5vh;
        background-image: linear-gradient(to bottom,#71bac2 20%,#44B1B4);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        gap: 15px;
        padding-bottom: 20px;
    }
    .image::before{
        top: -35px;
        height: 150px;
        width: 900px;
        left: -120px;
        transform: translateY(-50%) rotate(-5deg);
        z-index: -1;
    }
}
@media (min-width:769px){
    .home{
        grid-template-columns: 1fr 1fr;
    }
    .content{
        background-image: linear-gradient(to right,#71bac2 20%,#44B1B4);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding-left: 10%;
        gap: 40px;
    }
    .image::before{
        top: 35%;
        height: 150%;
        width: 90%;
        left: -200px;
        transform: translateY(-50%) rotate(5deg);
    }
}
@media (min-width:1000px){
    .image::before{
        top: 35%;
        height: 150%;
        width: 90%;
        left: -240px;
        transform: translateY(-50%) rotate(10deg);
    }
}
@media (min-width:1358px){
    .image::before{
        top: 35%;
        height: 150%;
        width: 90%;
        left: -470px;
        transform: translateY(-50%) rotate(15deg);
    }
}