
.listCss a{
    text-decoration: none;
    font-size: 20px;
}
.navbar{
    height: 10vh;
    background-color: #090B0C;
    padding: 0 16px 0 16px;
}
.logoDiv{
    display: flex;
    justify-content: space-between;
}
.toggleBtn{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.navLinks{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
.signBtn{
    border-width: 2px;
    border-color: #DB435C;
    font-weight: bold;
    border-radius: 8px;
    color: #DB435C;
    cursor: pointer;
}
@media (max-width:750px){
    .logoCSS{
        margin-top: auto;
        margin-bottom: auto;
    }
    .logoDiv{
        width: 100%;
    }
    .navLinks{
        position: fixed;
        top: 10vh;
        left: -100%;
        background-color: #090B0C;
        width: 100%;
        transition: 1s;
    }
    .navLinks.active{
        left: 0;
    }
    .listCss{
        padding: 8px 0 8px 16px;
        border: none;
        border-bottom: solid;
        border-width: 1px;
        border-color: #C0C3CD;
    }
}
@media (min-width:750px){
    .logoCSS{
        margin-bottom: 5px;
    }
    .navLinks{
        display: flex;
        justify-content: space-between;
        gap: 60px;
        margin: auto 0px;
    }
}