
.listCss a{
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
.navbar{
    position: sticky;
    top: 0;
    height: 80px;
    background-color: whitesmoke;
    padding: 0 20px;
    transition: all 0.5s;
}
.logoDiv{
    display: flex;
    justify-content: space-between;
}
.toggleBtn{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.navLinks{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    font-weight: bolder;
}
.signBtn{
    border-width: 2px;
    border-color: #DB435C;
    font-weight: bold;
    border-radius: 8px;
    color: #DB435C;
    cursor: pointer;
}
.listCss a::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #DB435C;
    bottom: 0;
    left: 0;
    transform: scale(0,1);
    transition: all 0.5s;
}
.listCss a:hover::after{
    transform: scale(1,1);
}
@media (max-width:750px){
    .logoCSS{
        margin-top: auto;
        margin-bottom: auto;
    }
    .logoDiv{
        width: 100%;
    }
    .navLinks{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: rgba(164, 165, 171,0.75);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 30px;
        height: 92vh;
        transition: 1s;
    }
    .navLinks.active{
        left: 0;
    }
    .listCss{
        text-align: center;
        padding: 20px 0 20px 0;
        border: none;
        border-bottom: solid;
        border-width: 1px;
        border-color: rgb(73, 68, 68);
    }
    .topElement{
        border-top: solid;
        border-width: 1px;
        border-color: rgb(73, 68, 68);
    }
    .navbar{
        -webkit-box-shadow: 0px 1px 28px -15px rgba(0,0,0,0.91);
        -moz-box-shadow: 0px 1px 28px -15px rgba(0,0,0,0.91);
        box-shadow: 0px 1px 28px -15px rgba(0,0,0,0.91);
    }
}
@media (min-width:750px){
    .logoCSS{
        margin-bottom: 5px;
    }
    .navbar:hover{
        -webkit-box-shadow: 0px 1px 28px -15px rgba(0,0,0,0.91);
        -moz-box-shadow: 0px 1px 28px -15px rgba(0,0,0,0.91);
        box-shadow: 0px 1px 28px -15px rgba(0,0,0,0.91);
        transform: scaleY(1.1);
    }
    .navLinks{
        display: flex;
        justify-content: space-between;
        gap: 60px;
        margin: auto 0px;
    }
}